<md-menu>
    <md-button
            class="md-icon-button"
            aria-label="User Actions"
            ng-click="$mdOpenMenu($event)"
    >
        <md-icon md-font-set="material-icons"><i class="fa fa-caret-square-o-down"></i></md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item ng-repeat="action in conf.itemActions">
            <md-button ng-click="action.action(data)">
                <md-icon md-font-set="material-icons" md-menu-align-target><i class="fa" ng-class="action.icon"></i></md-icon>
                {{action.title}}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>